*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.spring{
  background-image:url(img/box1.jpg) ;
  background-size:cover;
  height:200px;
  background-position:center;
}

.summer{
  background-image:url(img/box2.jpg) ;
  background-size:cover;
  height:200px;
  background-position:center;
}

.autumn{
  background-image:url(img/box3.jpg) ;
  background-size:cover;
  height:200px;
  background-position:center;
}

.winter{
  background-image:url(img/box4.jpg) ;
  background-size:cover;
  height:200px;
  background-position:center;
}